@model IEnumerable<Object>

@{
    ViewData["Title"] = "Success";
}

<div class="jumbotron" style="color:white; background-color:forestgreen;">
    <h1>Success</h1>
    <p>Excel Document is valid!</p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">Try Again!!</a></p>
</div>

<p>
    Rows Validated: @Model.Count()
</p>